.button-primary {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    background-color: #6BBE21;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
    padding: 8px;
}

.button-wb {
    background-color: transparent;
    color: rgb(119, 119, 119);
}